{% extends "base.html" %}
{% block title %}
    系统首页
{% endblock %}
{% block head %}

{% endblock %}
{% block name %}
    裂缝检测系统
{% endblock %}
{% block body %}
    <div>
        <h1>欢迎使用裂缝检测系统</h1>
    </div>
    <div>
    <br><br>
        系统完善中，当前支持功能包括：
        <br><br>
    <li>
        1.对输入的单张裂缝图像进行在线识别，输出其定位与尺寸信息
    </li>
        <br>
    <li>
        2.上传包含裂缝图片的压缩文件，识别完成后将自动弹出识别结果的下载链接
{#        2.上传包含裂缝图片的压缩文件并填写邮箱地址，识别完成后将发送识别结果和裂缝尺寸信息到指定邮箱#}
    </li>
        <br>
    <li>
        3.系统会将图片最短边缩放到1024，长度按比例缩小，为避免消耗多余带宽，请将图片先缩放到1024以内（最长边）再上传（最短边小于1024的图片忽略此项）
    </li>
        <br>
    <li>
        4.该系统针对的裂缝是混凝土结构裂缝，对沥青的条形裂缝也具备一定识别能力，但不用于沥青网状裂缝的识别
    </li>
        <br>
    <li>
        5.提交图片或压缩文件后，若出现404或找不到网页的情况，请刷新浏览器
    </li>
    </div>
{% endblock %}